<app-header title="Recuperar Contraseña"></app-header>

<ion-content>
<div class="d-flex-center">
    <form FormGroup="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">


        <app-custom-input 
        autocomplete="email" 
        icon="mail-outline" 
        [control]="form.controls.email" 
        type="email" label="Correo">
    </app-custom-input>
       
        <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched"></div>
        <div *ngIf="form.controls.email.errors?.['required']">Se Necesita email Valido!</div> 
        <div *ngIf="form.controls.email.errors?.['email']">Se Necesita email!</div>    



        <ion-button expand="block" mode="ios" class="submit" type="submit" [disabled]="form.invalid" > <!--[disabled]="form.invalid"-->
            Recuperar Contraseña<ion-icon slot="end" name="arrow-forward"></ion-icon>
     </ion-button> 

    <!--{{form.value.email}}-->
    {{form.value | json}}
    </form>
</div>



</ion-content>