<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'mapa' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <iframe src="https://storage.googleapis.com/maps-solutions-c944dwpmxf/commutes/onu0/commutes.html"
  width="100%" height="100%"
  style="border:0;"
  loading="lazy">
</iframe> -->

<div id="map-container">
  <div class="map" id="mapa-box" tabindex="0">

  </div>
</div>
</ion-content>
