<!-- asignar-usuario.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>
      Asignar Usuario
    </ion-title>
  </ion-toolbar>
</ion-header>
<div id="app">
  <div id="wrapper">
    <span class="sub">Seleccione</span>
    <br>
    <span class="sub">tipo de perfil</span>
  </div>
</div>
<!-- <ion-content class="ion-padding">
  <ion-button shape="round" expand="full" (click)="iniciarSesion()">Alumno</ion-button>
  <ion-button shape="round" expand="full" (click)="iniciarSesion2()">Profesor</ion-button>
</ion-content> -->

      <ion-button shape="round" (click)="iniciarSesion()">Alumno
      </ion-button>
      <ion-button shape="round" (click)="iniciarSesion2()" >Profesor
      </ion-button>