
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <!-- Botón de salida en el lado derecho de la barra de navegación -->
      <ion-button (click)="singOut()">
        <ion-icon slot="end" name="log-out-outline"></ion-icon>Salir
      </ion-button>
    </ion-buttons>
    <ion-title>
      DuocQR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu id="container " contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <br>
      <ion-title>{{user().name}} </ion-title>
      <br>
      <div class="ion-padding">DuocQR</div>
      <ion-button (click)="Seccion()" expand="block">Secciones</ion-button>
    
    </ion-toolbar>
  </ion-header>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-content class="ion-padding">DuocQR</ion-content>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> Tap the button in the toolbar to open the menu. </ion-content>
</div>




<ion-content >

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
      <ion-card *ngFor="let m of mensajes">
        <!-- Título de la card -->
        <ion-card-header>
          <div class="name"><h2>{{m.name}}</h2></div>
          <div class="name"><h5>Enviado por:{{user().name}}</h5></div>
        </ion-card-header>
    
        <!-- Contenido de la card -->
        <ion-card-content>
          <!-- Mensaje en el medio -->
          <div class="name">{{m.mensaje}}</div>
    
          <!-- Imagen -->
          <ion-img [src]="m.imagen" alt="Avatar"></ion-img>
        </ion-card-content>
      </ion-card>

  

</ion-content>
  
 
<ion-toolbar>
  <ion-buttons slot="secondary">
    <ion-button (click)="noticias()">
      <ion-icon slot="icon-only" name="newspaper-outline"></ion-icon>
    </ion-button>
    
    <ion-button (click)="QR()">
      <ion-icon slot="icon-only" name="qr-code-outline"></ion-icon>
    </ion-button>
    <ion-button (click)="crudsAU()">
      <ion-icon slot="icon-only" name="add-circle-outline" ></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>DuocQR</ion-title>
</ion-toolbar>