<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Duoc QR
    </ion-title>
  </ion-toolbar>
</ion-header>


<div id="app">
	<div id="wrapper">
		<!-- Make sure data-text equals the text you put inside the tags. -->
		<span class="sub">BIENVENIDO</span>
	</div>
</div>


<ng-container>
  <ion-list style="text-align:center">
          <ion-button  expand="block" fill="clear" color="transparent" (click)="irAAsignarUsuario()">Asignar Usuario</ion-button>
  </ion-list>
  </ng-container>