#mapa-mapbox{
    position: absolute;
    width: 100%;
    height: 100% !important;
}

.map{
    width: 100%;
    height: 100% !important;
}

#map-container {
    width: auto;
    height: 100%;
}

html, body{
    width: 100%;
    height: 100%;
}