ion-card {
    margin: 20px;
  }
  
  ion-card-title {
    font-size: 1.5em;
  }
  
  ion-card-subtitle {
    font-size: 1.2em;
    color: #555;
  }
  
  ion-list ion-item {
    --ion-item-padding-end: 0; 
  }
  
  ion-label {
    font-weight: bold;
  }
  
  ion-text {
    color: #333;
  }
  