<app-header title="Login"></app-header>

<ion-content>
<div class="d-flex-center">
    <form FormGroup="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">


        <app-custom-input 
        autocomplete="email" 
        icon="mail-outline" 
        [control]="form.controls.email" 
        type="email" label="Correo">
    </app-custom-input>
       
        <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched"></div>
        <div *ngIf="form.controls.email.errors?.['required']">Se Necesita email Valido!</div> 
        <div *ngIf="form.controls.email.errors?.['email']">Se Necesita email!</div>    
  


        <app-custom-input 
        icon="lock-closed-outline" 
        [control]="form.controls.password" 
        label="Contraseña" type="password">      
        </app-custom-input> 
        
        <div class="validators" *ngIf="form.controls.password.errors && form.controls.password.touched"></div>
        <div *ngIf="form.controls.password.errors?.['required']">Se Necesita Contraseña!</div>   

        <p class="ion-text-end" routerLink="forgot-password">¿Olvidates tu Contraseña?</p>

        <ion-button expand="block" mode="ios" class="submit" type="submit" [disabled]="form.invalid" > <!--[disabled]="form.invalid"-->
            Ingresar<ion-icon slot="end" name="log-in-outline"></ion-icon>
     </ion-button> 
  <ion-button expand="block" routerLink="sing-up" mode="ios" fill="outline" > 
        Registrate<ion-icon slot="end" name="person-add-outline"></ion-icon>
 </ion-button> 
 
    </form>
</div>



</ion-content>

